html, body {
    margin: 0;
    padding: 0;
    background-color: #212121;
    overflow:hidden !important;
}



.app { 
    background-color: #212121;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.dropzone {
    font-size: 2em;
    width: 80%;
    height: 80%;
    background: #3a3a3a;
    padding: 50px;
    border-radius: 5px;
    border: 5px dashed;
    border-color:#83a82d;
    color: #212121;
    transition: all 0.2s ease-in-out;
}

.dropzone.uploading {
    transition: all 0.2s ease-in-out;
    animation: fade-animation 2s infinite;
    -webkit-animation: fade-animation 2s infinite;
}

.dropzone.done {
    transform: scale(0.9);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.dropzone.hidden {
    position: absolute;
    z-index: -1;
}

.dropzone .dz-message {
    color: white;
}

@keyframes fade-animation {
    0% {opacity: 0.8} 
    50% {opacity: 0.3}
    100% {opacity:0.8}
  }

.dropzone .dz-preview.dz-image-preview {
    background: transparent
}

.dz-progress {
    display: none;
}





.viewer { 
    position: absolute;
    z-index: -1;
    width: 100%;
    background-color: #313131;
    height: 100%;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
}

.loaded {
    transform: scale(1);
    opacity: 1;
    position: relative;
    z-index: inherit;
    transition: all 0.2s ease-in-out;
}




.viewer .header {
    height: 80px;
    width:100%;
    z-index: 3;
    background-color: #512DA8;
}

.viewer .main {
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.viewer .browser {
    background-color: #424242;
    width: 200px;
    overflow: auto;;
    z-index: 2;
    overflow-x:hidden;
}

.viewer .collection {
    margin:0;
    border:0;
    border-radius: 0;
}

.viewer a.collection-item {
    background: none;
    border:none;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    color: #E0E0E0;
}

.viewer a.collection-item.active {
    background-color:#83a82d;
}

.viewer a.collection-item:not(.active):hover {
    background-color: #616161;
}

.viewer .display {
    background-color: #212121;
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewer .info {
    background-color:#424242 ;
    width: 300px;
    z-index: 2;
}

.viewer .uv {
    width:100%;
    display: flex;
    flex-direction: column;
}

.viewer .uv img {
    width: 100%;
}

.viewer .legends {
    display: flex;
    flex-direction: row;
}

.viewer .legends .legend {
    width:50%;
}


.viewer .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 30px; */
}


.viewer .header .btn-flat {
    background: none;
    margin: 0 10px;
    transition: all 0.2s;
}

.viewer .header .btn-flat:hover {
    transform: scale(1.4);
    transition: all 0.2s;
}

.viewer .header .btn-flat.active i
{
    color: #512DA8;
    background-color: white;
    transition: all 0.5s ease-in-out; 
}


.viewer .header .logo {
    /* width: 200px; */
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2em;
    font-weight: 100;
    width: 200px;
    height: 100%;
    /* background-color: #ddd; */
}

.viewer .header .logo img {
    height: 40px;
}

.viewer .modal-content, .viewer .modal-footer, td, tr, th {
    text-align: center;
    justify-content: center;
    align-items: center;
}
